.container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    width: 800px;
    margin: auto;
}
h1 {
    margin-bottom: 0;
}
header {
    display: flex;
    justify-content: space-between;
}
.ul-nav {
    margin-top: 1.67em;
}
.ul-nav>li {
    display: inline-block;
    margin-right: 1em;
}
.ul-nav>li:last-child {
    margin-right: 0;
}
.ul-nav a {
    text-decoration: none;
    color: black;
}
.ul-nav a:visited {
    color: black;
}
hr {
    margin: 5px 0 15px 0;
}
b {
    font-weight: 600;
}
.ul-contacts {
    padding-left: 0;
    list-style-type: none;
}
main>p {
    text-align: justify;
}
pre {
    background-color: rgb(240, 240, 240);
}
.ul-edu {
    margin-top: -15px;
}